/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------ CSS RESET -----------------*/

/* ------------------------------------------------MAIN CODE START------------------------------------------- */

/* Custom CSS code for pallets */
:root{
	--main-accent:#DD1155;
	--secondary-titles-n-footer:#848fA5;
	--body-and-font: #2d2d2a;
	--light-font: #ECFEE8;
}






/* Font types and sizing */
h1{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 1.8rem;
	color: var(--main-accent)
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color:var(--secondary-titles-n-footer);
	font-size: 1.5em;
}
h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: var(--secondary-titles-n-footer);
	font-size: 1.2em;
}
p{
	font-family: 'Josefin Sans', sans-serif;
	color:var(--light-font)
}
a{
	font-family: 'Montserrat', sans-serif;
	color: var(--body-and-font);
	text-decoration: none;
}
.menu a{
	color: var(--light-font);
}
.button{
	background-color: var(--main-accent);
	color: var(--light-font);
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 1.8em;
	border: none;
	padding: 10px;
}

/* Background colour section defaults */
body{
    background-color: #2d2d2a;
}

header{
   background-color: var(--main-accent); 
}
footer{
	position:absolute;
	width:100%;
	display: flex;
	justify-content: space-around;
    background-color: #848fa5;
}
footer> div > p{
	color: var(--body-and-font)
}
/* links in the footer test 1 */

/* div > a p{
	display:flex;
	flex-wrap: ;
	justify-content: flex-start;
} */
.aligned{
	display: inline-block;
	flex-wrap: wrap;
	justify-content: start;
}



/* Text font default color */
p h2{
    color:#ECFEE8;
}
/* Links and default states */