/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------ CSS RESET -----------------*/

/* ------------------------------------------------MAIN CODE START------------------------------------------- */

/* -------------------------------------------------------Custom CSS code for pallets */
:root{
	--main-accent:#DD1155;
	--secondary-titles-n-footer:#848fA5;
	--body-and-font: #2d2d2a;
	--light-font: #ECFEE8;
}

/* --------------------------Font sourcing----------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*---------------------------------------------------------- Font types, sizing and color */
h1{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 1.8rem;
	color: var(--main-accent)
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color:var(--secondary-titles-n-footer);
	font-size: 1.5em;
}
h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: var(--secondary-titles-n-footer);
	font-size: 1.2em;
}
p{
	font-family: 'Josefin Sans', sans-serif;
	color:var(--light-font)
}
a{
	font-family: 'Montserrat', sans-serif;
	color: var(--body-and-font);
	text-decoration: none;
}
div > nav > .active{
	background-color: var(--body-and-font);
	font-weight: bold;
}
.menu a{
	color: var(--light-font);
}
.button{
	background-color: var(--main-accent);
	color: var(--light-font);
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 1.8em;
	border: none;
	padding: 10px;
}
button{
	color:var(--light-font);
	border: none;
	font-size: 1.2rem;
	background: none;
	border-radius: 10px;
}
/* search bar utility expand*/
.util{
	display: flex;
	padding-bottom: .5;
	
}
.util input{
	flex-grow: 1;
	border: none;
}

/* Background colour section defaults */
body{
    background-color: #2d2d2a;
}

header{
   background-color: var(--main-accent); 
}
footer{
	position:absolute;
	width:100%;
	/* display: flex; */
	justify-content: space-around;
    background-color: #848fa5;
}
footer > div > p{
	color: var(--body-and-font)
}
/* Text font default color */
p h2{
    color:#ECFEE8;
}

/* Getting the menus to display in column format*/
header > .aligned{
	display: flex;
	flex-direction: column;
}
.aligned > nav{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.menu > a{
	align-self: center;
	padding: 1em;
	width: calc(100% - 2em);
	text-align: center;
}
/* -----------------------------------------------------------Homepage specifics--------------------------*/

/* background image */
.container-order{
	background-image: url(../images/cakes_landscape_320.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
}

/* ----------------------------------------------------------About page-------------------------------------- */
.about > div > img{
	max-width: 760px;
}


/* --------------------------------------------------------------------------------------------------------------------Desktop CSS */
@media screen and (min-width: 760px){
	/* Body content area--------------------- */
	body{
	  max-width: 1920px;
	  margin: 0 auto;
	}
/* ---------------------------------------tweaks to header and nav */
.aligned > .menu{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

header > .aligned{
	flex-direction: row;
}
div > input{
	border: none;
	color: var(--light-font);
}
/* ----------------------------adjustments for footer--------------*/
footer {
	padding: 10px;
}
.aligned{
	display: flex;
	justify-content: space-between;
	max-width: 1920px;	
 }
 .aligned p{
	 align-self: center;
 }
 .aligned  a{
	 align-self:center;
 }
 /* -------------------------------------header tweaks-------------- */
 .menu a{
	 color: var(--light-font);
	 transition: color .1s;
	 width: auto;
 }

 .menu a:hover{
	 color: var(--light-font)!important;
	 background-color: var(--body-and-font);
	
 }
 div > nav > .active{
/* color: var(--body-and-font); */
	font-weight: bold;
}
/* ------------------------search bar size refinement--- */
.util input{
	height: 20px;
	align-self: center;
}
/* text over background image */

#atop{
	position: absolute;
	top: 35%;
	right: 10%;
}
/* containing inside the image */
.container{
	position: relative;
	/* max size */
}
.container-order{
	background-image:url(../images/cakes_landscape_1920.jpg);
	max-width: 1920px;
	min-height: 650px;
	align-self: center;
}
.sized{
	max-width: 420px;
}



}