/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------ CSS RESET -----------------*/

/* ------------------------------------------------MAIN CODE START------------------------------------------- */

/* html preset ---------------------------------------------------------------------------------- */
html{
	box-sizing: border-box;
}

/* -------------------------------------------------------Custom CSS code for pallets */
:root{
	--main-accent:#dd1155;
	--secondary-titles-n-footer:#848fA5;
	--body-and-font: #2d2d2a;
	--light-font: #ECFEE8;
	--pad-mobile: 20px;
	--pad-desktop: 40px;
	--pad-content: 10px;
}

/* --------------------------Font sourcing----------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*---------------------------------------------------------- Font types, sizing and color */
h1{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 1.8rem;
	color: var(--main-accent);
	padding-bottom: var(--pad-mobile);
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color:var(--secondary-titles-n-footer);
	font-size: 1.5em;
}
h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: var(--secondary-titles-n-footer);
	font-size: 1.2em;
}
p{
	font-family: 'Josefin Sans', sans-serif;
	color:var(--light-font);
}
a{
	font-family: 'Montserrat', sans-serif;
	color: var(--body-and-font);
	text-decoration: none;
}
div > nav > .active{
	background-color: var(--body-and-font);
	font-weight: bold;
}
.menu a{
	color: var(--light-font);
}
.button{
	background-color: var(--main-accent);
	color: var(--light-font);
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 1.8em;
	border: none;
	padding: 10px;
	
}
button{
	color:var(--light-font);
	border: none;
	font-size: 1.2rem;
	background: none;
	border-radius: var(--pad-desktop);
	box-shadow: 0 9px var(--body-and-font)
}
button:active{
	box-shadow: 0 5px var(--light-font);
	transform: translateY(5px);
}
i{
	color: var(--light-font);
	padding: var(--pad-content);
	font-size: 1.3em;
}
/* ----search bar utility expand*/
.util{
	display: flex;
	padding-bottom: .5;
	
}
.util input{
	flex-grow: 1;
	border: none;
}
label{
	color: var(--secondary-titles-n-footer);
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-top: 20px;
}
/*-------- Background colour section defaults */
body{
    background-color: var(--light-font);
}

header{
   background-color: var(--main-accent); 
}
.back{
	background-color: var(--body-and-font);
}
/* ------------------------------ footer specifics */
footer{
	/* display: flex; */
	justify-content: space-around;
    background-color: #848fa5;
}
footer > div > p , nav{
	color: var(--body-and-font);
	display: flex;
	flex-direction: row;
	justify-content: center;

}
footer p{
	padding: 10px;
}
footer a{
	padding: 10px;
}

footer div div{
	text-align: center;
}


/* Text font default color */
p h2{
    color:#ECFEE8;
}

/* Getting the menus to display in column format*/
header > .aligned{
	display: flex;
	flex-direction: column;
}
.aligned > nav{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.menu > a{
	align-self: center;
	padding: 1em;
	width: calc(100% - 2em);
	text-align: center;
}
/* nav button css tweaks */
.shopping{
	box-shadow: 0 0 0;
}
.shopping:active{
	box-shadow: none;
}
/* spacing for inside content */
.content{
	padding: var(--pad-mobile);
}
/* spacing after text and titles */
article p{
	padding-bottom: var(--pad-content);
	padding-top: var(--pad-content);
}
h2{
	padding-bottom: var(--pad-content);
}
label{
	padding-bottom: var(--pad-content);
}
/* Hover state animation */
.menu a:hover{
	color: var(--light-font)!important;
	background-color: var(--body-and-font);
}

/* images padding */
picture > img{
	padding: var(--pad-mobile) 0;
}
/* -----------------------------------------------------------Homepage specifics--------------------------*/

/* background image */
.container-order{
	background-image: url(../images/cakes_landscape_640.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
}
/* content over top the header image */
#atop > h2{
	color: var(--light-font);
	padding-top: var(--pad-content);
}
#atop{
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	background-color:#2d2d2a6d;
	padding: 10px;
}
#atop > button{
	position: absolute;
	width: 99%;
	top: 60%;
	margin: 0 auto;
	
}
/* cake image */
.sized{
	max-width: 760px;
	width: 100%;
}


/* ----------------------------------------------------------About page-------------------------------------- */
.about > div > img{
	max-width: 760px;
}
/* cake pop image */
.header2{
	width:100%;
}
.small_i{
	width: 100%;;
}
.style{
	background-color: var(--light-font);
	width: 100%;
	padding: 2px;
	margin: 5px;
}
/* --------------------------------------------------------------Contact Page---------------------------------------- */
/* form organization */
div > form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 20px;
}
form div{
	align-content: flex-start;
}

textarea{
	height: 200px;
}
.second > .button{
	width: 100%;
	margin-bottom: var(--pad-mobile);
}

	
/* --------------------------------------------------------------------------------------------------------------------Desktop CSS */
@media screen and (min-width: 780px){
	/* Body content area--------------------- */
	body{
	  max-width: 1080px;
	  margin: 0 auto;
	}
/* -----content padding alignment */
.content{
	padding: 20px 40px;
}
/* ---------------------------------------tweaks to header and nav */
.aligned > .menu{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

header > .aligned{
	flex-direction: row;
}
div > input{
	border: none;
	color: var(--light-font);
}
#atop {
	background-color: rgba(255, 255, 255, 0);
}
/* ----------------------------adjustments for footer--------------*/
footer {
	padding: 10px;
	max-width: 1080px;
}
.aligned{
	display: flex;
	justify-content: space-between;
	max-width: 1080px;	
 }
 .aligned p, a, span{
	 align-self: center;
 }

 footer > div > p , nav{
	 justify-content: flex-start;
 }
 footer div div{
	 display: flex;
	align-items: center;
 }
 /* -------------------------------------header tweaks-------------- */
 .menu a{
	 color: var(--light-font);
	 transition: color .1s;
	 width: auto;
 }

 .menu a:hover{
	 color: var(--light-font)!important;
	 background-color: var(--body-and-font);
	 border-radius: var(--pad-desktop);
	
 }
 div > nav > .active{
/* color: var(--body-and-font); */
	font-weight: bold;
	border-radius: var(--pad-desktop);

}
/* ------------------------search bar size refinement--- */
.util input{
	height: 20px;
	align-self: center;
}
/* containing inside the image */
.container{
	position: relative;
}
/* ---------------------------------------------Homepage specifics */
/* text over background image */

#atop{
	position: absolute;
	top: 35%;
	right: 10%;
}
#atop > button{
 position: relative;
 margin-top: var(--pad-content);
}
/* grid for image ------------------ */
.content > .items{
	display: grid;
	grid-template-columns: 2.2fr 1.2fr;
}

/* image details ---------------------- homepage */
.container-order{
	background-image:url(../images/cakes_landscape_1920.jpg);
	max-width: 1080px;
	min-height: 650px;
	align-self: center;
}
.sized{
	max-width: 300px;
	padding-left: var(--pad-content);
}
/* About me page image alignment */
.about div > img{
	max-width: 400px;
}
.small_i{
	width: 350px;
}
.items{
	display: flex;
	flex-direction: row-reverse;
}
.reverse{
	display: flex;
	flex-direction: row-reverse;
}
 .ordered{
	order: 1;
}
.items > div{
	padding-left: var(--pad-content);
	padding-right: var(--pad-content);
}
.reverse div{
	padding-right: var(--pad-content);
}
/* --------------------------------------Contact page */
/* Contact page image alignment */
.item{
	display: grid;
	gap: var(--pad-mobile);
	grid-template-rows: 1fr .5fr .5fr;
	grid-template-areas: 'fi info'
						 'fi social'
						 'fi btn'
}
.first{
	grid-area: fi;
	margin-bottom: var(--pad-content);
	align-self: stretch;
}
.second{
	display: flex;
	align-items:flex-end;
	grid-area: btn;
}
.third{
	padding-top: 20px;
	grid-area: info;
}
.fourth{
	grid-area: social;
}
.notop{
	margin-top: 0;
}
}